<div class="contenedor">
  <div class="titulo">
    <h3  style="font-weight: 10px; margin-left: 30px; font-size: x-large;">Asignatura: SISTEMAS DISTRIBUIDOS Tipo: TEÓRICA Grupo: 1</h3>
  </div>
  <div class="container">
    <div class="tituloRegistro d-flex justify-content-end">
        <h3 style="font-size: small; margin-right: 60px; padding-top: 10px;">Registro de actividades evaluativas</h3>

          <div class="btn-group d-flex justify-content-end">
            <button style="box-shadow: 2px 2px 2px 2px; margin: 3px; padding:5px;"  type="button" class="btn btn-warning">Descargar Listado</button>
            <button style="box-shadow: 2px 2px 2px 2px; margin: 3px; padding:5px;"  type="button" class="btn btn-warning">Descargar Boletín general</button>
            <button style="box-shadow: 2px 2px 2px 2px; margin: 3px; padding:5px;"  type="button" class="btn btn-warning">Descargar Boletín definitivo</button>

        </div>


    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nro</th>
          <th scope="col">Estudiante</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Juan Jose Burbano</td>

        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob Thornton</td>


        <tr>
          <th scope="row">3</th>
          <td>Carolina Botina</td>

        </tr>
      </tbody>
    </table>

  </div>


</div>


