<div class="asignaturas">
  <div class="titulo">
    <h3 style="font-weight:0; font-size:14px; text-align: center; padding-top: 10px;">Asignaturas</h3>
  </div>

  <div class="sidebar fuente">
    <a href="#" class="d-block p-3 text-light " style="text-decoration: none;"><i class="fas fa-school mr-2"></i>  Microprocesadores</a>
    <a href="#" class="d-block p-3 text-light " style="text-decoration: none;"><i class="fas fa-school mr-2"></i>  Telemática</a>
    <a href="#" class="d-block p-3 text-light "style="text-decoration: none;"><i class="fas fa-school mr-2"></i>  Calculo</a>




  </div>
</div>


